/*Import poppins regular font from fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Apply the generic font poppins regualr for entire html body */
body{
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

/* Styles for Top Banner */

/* Top Banner Generic Styles */
.top-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 40em;
    width: 100%;
    background-color: #2D25A0;
}

/* Banner Heading Dimension */
.banner-heading{
    width: 485px;
    height: 230px;
}

/* Style for Banner Heading Text */
.banner-heading h1{
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Style for Live Watch Button */
.watch-live{
    margin-top: 27px;
    padding: 10px 24px;
    width: 110px;
    background-color: #E02C6D;
}

.watch-live-button{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.fa-arrow-right{
    margin-left: 5px;
    font-size: 14px;
    color: white;
}

/* Styles for Banner Image */
.banner-image{
    margin-top: 100px;
    margin-left: 102px;
}

.banner-image img{
    width: 556px;
    height: 438px;
}

/* Top Banner Mouse Over Styles (hover) */
.top-banner:hover{
    background-color:lightgrey;
    height: 45em;
}

.top-banner:hover>.banner-heading{
    transform: scale(1.25) translate(-50px, -50px);
    transition: transform 1s linear;
}

.top-banner:hover>.banner-image img{
    transform: scale(1.25) rotate(360deg) translate(50px, -50px);
    transition: transform 1s linear;
    margin-left: 100px;
}

.top-banner:hover>.banner-heading>h1{
    color: #2D25A0;
}

/* top banner styles end here */

/* Styles for Image Gallery */
.photo-album{
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.photos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.photo{
    display: flex;
    flex-direction: column;
    width: 330px;
    padding: 15px 0px 0px 30px;
    box-shadow: 0 0 35px lightgray;
}

.photo img{
    width: 300px;
    height: 256px;
}

.player-name{
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
}

.photo-caption{
    margin-top: 0px;
    width: 90%;
    text-align: justify;
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
}